// styles of options in select

.css-1ca8kc6 > option {
  background: #18181B !important;
}

input, select, textarea {
  border: 1px solid #666666 !important;
}

input:focus, select:focus, textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #666666 !important;
}


// position of header in resources (fix problem with html youtube video)
#videos {
  position: absolute !important;; 
  z-index: 2 !important;
}

#header {
  z-index: 3 !important;
}

// position of header in register (fix problem with label in register page)
.css-1inm43r label {
  position: absolute !important;
  z-index: 1 !important;
}
